<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.android.sixseasonsofbangladesh" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Summer"
            android:label="@string/title_activity_summer"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Rainy"
            android:label="@string/title_activity_rainy"
            android:theme="@style/AppTheme.NoActionBar" >
            
        </activity>
        <activity
            android:name=".Autumn"
            android:label="@string/title_activity_autumn"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Dryseason"
            android:label="@string/title_activity_dryseason"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Winter"
            android:label="@string/title_activity_winter"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Spring"
            android:label="@string/title_activity_spring"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
